


#submitCont {
  background: #CC8888;
  padding: 20px;
  border-radius: 20px;
  margin-top: 86px;
  cursor: pointer;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

#exce {
  font-size:80px;
}

#result { 
  line-height: 80px;
  vertical-align: top;
  font-size: 80px;
  width: 200px;
  text-align: center;
}